<ion-content padding>
  <div text-center style="margin-top: 50%; padding: 0 7%;">
    <img mat-card-image class="image" src="../../../assets/images/logo.png" alt="Logo">
  </div>
  <form #form="ngForm" (ngSubmit)="login(user,password)">
    <div padding>
      <ion-item>
        <ion-input name="email" type="email" placeholder="correo" [(ngModel)]="user" autocomplete="off" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="password" type="password" placeholder="Contraseña" [(ngModel)]="password" required>
        </ion-input>
      </ion-item>
    </div>
    <div padding>
      <ion-button size="small" type="submit" [disabled]="form.invalid" expand="block">Iniciar Sesión</ion-button>
      <ion-button size="small" color="secondary" type="submit" [disabled]="form.invalid" expand="block">Registro</ion-button>
    </div>
  </form>
</ion-content>