<ion-header>
  </ion-header>

<ion-content>
  <div class="popup-modal" *ngIf="showPopup">
    <div class="popup-container" [ngStyle]="calculatePopupPosition()" cdkDrag cdkDragBoundary=".dragDropReference">
        <div class="popup-header" cdkDragHandle>
            <h1>Error</h1>
            <button (click)="closePopup()" class="popup-button"><i class="far fa-times-circle"></i></button>
        </div>
        <div class="popup-content">
            <div class="img-container">
                <img src="{{urlImage}}" alt="Error" class="avatar">
            </div>
            <p>{{message}}</p>
        </div>
    </div>
</div>
</ion-content>
