<ion-header color="Primary">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title> Noticias </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="news">
        <ion-card-header>
            <ion-card-subtitle>{{news.date}} - {{news.author}}</ion-card-subtitle>
            <ion-card-title class="card-title">{{news.title}}</ion-card-title>
            <div class="img-container">
                <img src="{{news.image}}" />
            </div>
        </ion-card-header>

        <ion-card-content class="card-description"> {{news.description}} </ion-card-content>
        <ion-card-content class="card-content"> {{news.content}} </ion-card-content>
    </ion-card>
</ion-content>