<ion-header color="Primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Eventos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>
      <ion-card-title style="font-weight: bold; text-align: center;font-size: 18px;">Listado de Eventos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-range min="1000" max="10000" snaps="true" step="1000" [(ngModel)]="radius">
          <ion-label slot="start">1000 mts</ion-label>
          <ion-label slot="end">10000 mts</ion-label>
        </ion-range>
        <ion-button (click)="findEvents()" expand="block">Buscar</ion-button>
      </ion-item>
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        <agm-marker *ngFor="let event of events" [latitude]="event.event.place.latitude"
          [longitude]="event.event.place.longitude" [markerClickable]="true" (markerClick)="openWindow(event._id)">
          <agm-info-window [isOpen]="isInfoWindowOpen(event._id)" [latitude]="event.event.place.latitude"
            [longitude]="event.event.place.longitude">
            <app-event-card [eventWithUsers]="event" [insideMap]="true"></app-event-card>
          </agm-info-window>
        </agm-marker>
      </agm-map>

    </ion-card-content>

  </ion-card>
</ion-content>