<div class="event-container">
    <mat-sidenav-container class="event-sidenav-container">
        <mat-sidenav style="z-index: 0;" fixedTopGap="56" mode="side" opened>
            <mat-nav-list>
                <a mat-list-item *ngFor="let nav of fillerNav" (click)="currentMenu=nav.menuId">{{nav.menuTitle}}</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <ng-container *ngIf="currentMenu=='Listado_Eventos' && consultEvents ">
                <app-list-events></app-list-events>
            </ng-container>
            <ng-container *ngIf="currentMenu=='Administracion_Eventos' && createEvents">
                <app-event-management></app-event-management>
            </ng-container>
            <ng-container *ngIf="currentMenu=='Mis_Eventos' && consultEvents">
                <app-user-events></app-user-events>
            </ng-container>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>