<ion-header>
  <ion-toolbar>
    <ion-title>user-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <mat-card class="card-content">
        <mat-card-title style="text-align: center">Perfil</mat-card-title>
        <mat-horizontal-stepper [linear]="false" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <ng-template matStepLabel>Información del perfil</ng-template>
                <app-profile-information [profileInformation]="profileInformation"></app-profile-information>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel>Información personal</ng-template>
                <app-personal-information [profileInformation]="profileInformation"></app-personal-information>
                <div style="text-align: center;">
                    <button mat-raised-button color="primary" (click)="save()">Guardar Cambios</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>
</ion-content>
