<ion-header>
  <ion-toolbar>
    <div class="popup-header" cdkDragHandle>
      <ion-title>Registro</ion-title>
      <h1>Registro</h1>
      <button (click)="closePopup()" class="popup-button">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="popup-modal" *ngIf="showPopup">
    <div
      class="popup-container"
      [ngStyle]="calculatePopupPosition()"
      cdkDrag
      cdkDragBoundary=".dragDropReference"
    >
      <div class="popup-content">
        <div class="colgrid1">
          <mat-form-field class="full-width">
            <mat-label>Perfil</mat-label>
            <select
              matNativeControl
              [(ngModel)]="role"
              (ngModelChange)="role=$event"
              name="role"
              required
            >
              <ng-container *ngFor="let p of profiles">
                <option value="{{p}}">{{p}}</option>
              </ng-container>
            </select>
          </mat-form-field>
        </div>
        <ng-container *ngIf="role==='Empresa'">
          <div class="colgrid1">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Nombre de la empresa"
                name="companyName"
                type="text"
                [(ngModel)]="companyName"
                (ngModelChange)="companyName=$event"
                required
              />
            </mat-form-field>
          </div>
        </ng-container>
        <ng-container *ngIf="role!=='Empresa'">
          <div class="colgrid2">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Primer Nombre"
                name="firstName"
                type="text"
                [(ngModel)]="firstName"
                (ngModelChange)="firstName=$event"
                required
              />
            </mat-form-field>
          </div>
          <div class="colgrid2">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Segundo Nombre"
                name="secondName"
                type="text"
                [(ngModel)]="secondName"
                (ngModelChange)="secondName=$event"
              />
            </mat-form-field>
          </div>
          <div class="colgrid2">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Primer Apellido"
                name="surname"
                type="text"
                [(ngModel)]="surname"
                (ngModelChange)="surname=$event"
                required
              />
            </mat-form-field>
          </div>
          <div class="colgrid2">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Segundo Apellido"
                name="secondSurname"
                type="text"
                [(ngModel)]="secondSurname"
                (ngModelChange)="secondSurname=$event"
              />
            </mat-form-field>
          </div>
        </ng-container>
        <div class="colgrid1">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Email"
              name="email"
              type="email"
              [(ngModel)]="email"
              (ngModelChange)="email=$event"
              required
            />
          </mat-form-field>
        </div>
        <div class="colgrid2">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Contraseña"
              name="password"
              type="password"
              [(ngModel)]="password"
              (ngModelChange)="password=$event"
              required
            />
          </mat-form-field>
        </div>
        <div class="colgrid2">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Repita la Contraseña"
              name="passwordValidation"
              type="password"
              [(ngModel)]="passwordValidation"
              (ngModelChange)="passwordValidation=$event"
              required
            />
          </mat-form-field>
        </div>
        <div class="buttonRegister">
          <button mat-raised-button color="primary" (click)="register()">
            Registro
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-alert-popup></app-alert-popup>
</ion-content>
